h1{
color:red;
}


.parent {
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(8, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 1 / 6 / 5; }
.div2 { grid-area: 2 / 5 / 9 / 9; }
.div3 { grid-area: 6 / 1 / 9 / 2; }
.div4 { grid-area: 6 / 2 / 9 / 3; }
.div5 { grid-area: 6 / 3 / 9 / 4; }
.div6 { grid-area: 6 / 4 / 9 / 5; }
.div7 { grid-area: 1 / 1 / 2 / 5; }
.div8 { grid-area: 1 / 7 / 2 / 9; }
.div9 { grid-area: 1 / 5 / 2 / 7; }

body {
    background-color: #ae4040;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background:#ffbd59;
    width: 920px;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}